@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Manrope", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #B49C78;
  --color-bg-light: #E2D8CC;
  --color-text-dark: #443E3E;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    color: var(--color-text-dark);
    overflow-x: hidden;
  }
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-[#f5f2ef] rounded px-4 py-3 mb-4 mt-3 border border-[#e4d9cd] outline-none;
}

.btn-primary {
  @apply w-full text-sm font-medium text-white bg-[color:var(--color-primary)] shadow-lg shadow-[#b49c78]/10 p-[10px] rounded-md my-1 hover:bg-[#9d886a] hover:text-white cursor-pointer;
}

.card {
  @apply bg-white p-6 rounded-2xl shadow-md shadow-gray-100 border border-[#e2d8cc];
}

.card-btn {
  @apply flex items-center gap-3 text-[12px] font-medium text-[#443E3E] hover:text-[color:var(--color-primary)] bg-[#f8f5f0] hover:bg-[#eae1d6] px-4 py-1.5 rounded-lg border border-[#e2d8cc] cursor-pointer;
}

.card-btn-fill {
  @apply flex items-center gap-3 text-[12px] font-medium text-white hover:text-[color:var(--color-primary)] bg-[color:var(--color-primary)] hover:bg-[#eae1d6] px-4 py-1.5 rounded-lg border border-[color:var(--color-primary)] cursor-pointer;
}

.form-card {
  @apply bg-white p-6 rounded-lg shadow-md shadow-gray-100 border border-[#e2d8cc];
}

.form-input {
  @apply w-full text-sm text-black outline-none bg-white border border-[#e2d8cc] px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500;
}

.add-btn {
  @apply w-full flex items-center justify-center gap-1.5 text-xs md:text-sm font-medium text-[color:var(--color-primary)] whitespace-nowrap bg-[#f6f0e7] border border-[#e2d8cc] rounded-lg px-4 py-2 cursor-pointer;
}

.download-btn {
  @apply items-center gap-3 text-xs md:text-[13px] text-green-900 bg-green-100 px-2 md:px-3 py-2 rounded border border-green-200 hover:border-green-400 cursor-pointer;
}

.user-card {
  @apply bg-white p-4 rounded-xl shadow-md shadow-gray-100 border border-[#e2d8cc];
}
